* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.input-container {
    cursor: w-resize;

    &.mouse-focus {
        .cover{
            display: block;
        }
    }

    .panel {
        display: flex;
        align-items: center;
    }

    .display-price {
        position: relative;
        padding: 7px 14px;
        width: 150px;

        pointer-events: none;

        text-align: center;
        border: 1px solid #ccc;
    }

    .display-price::selection {
        color: initial;
        background-color: initial;
    }

    .icon {
        padding: 7px;

        color: #0d0d0d;
        background-color: #ccc;
        border: 1px solid #ccc;

        &-left {
            border-radius: 5px 0 0 5px;
        }

        &-right {
            border-radius: 0 5px 5px 0;
        }
    }

    .cover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000050;
    }

    .input-price {
        display: none;
    }
}
